<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EmotiSense - Sentiment Analyzer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='/assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='/assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='/assets/css/style.css')}}" rel="stylesheet">
  <!-- <link href="services.html"> -->
  <!-- <link href="contact.html"> -->


  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://markjivko.com/dist/recorder.js"></script>

  <script>
    jQuery(document).ready(function () {
        var $ = jQuery;
        var myRecorder = {
            objects: {
                context: null,
                stream: null,
                recorder: null
            },
            init: function () {
                if (null === myRecorder.objects.context) {
                    myRecorder.objects.context = new (window.AudioContext || window.webkitAudioContext)();
                }
            },
            start: function () {
                var options = { audio: true, video: false };
                navigator.mediaDevices
                    .getUserMedia(options)
                    .then(function (stream) {
                        myRecorder.objects.stream = stream;
                        myRecorder.objects.recorder = new Recorder(
                            myRecorder.objects.context.createMediaStreamSource(stream),
                            { numChannels: 1 }
                        );
                        myRecorder.objects.recorder.record();
                    })
                    .catch(function (err) {});
            },
            stop: function (listObject) {
                if (null !== myRecorder.objects.stream) {
                    myRecorder.objects.stream.getAudioTracks()[0].stop();
                }
                if (null !== myRecorder.objects.recorder) {
                    myRecorder.objects.recorder.stop();

                    // Validate object
                    if (null !== listObject && "object" === typeof listObject && listObject.length > 0) {

                        // Export the WAV file
                        myRecorder.objects.recorder.exportWAV(function (blob) {
                            
                            // Bhavesh
                            var formData = new FormData();

                            // Append the audio blob to the FormData object
                            formData.append('audio', blob, 'audio.wav');
                            var xhr = new XMLHttpRequest();
                            var url = '/voice';
                            xhr.open('POST', url, true);
                            xhr.onload = function () {
                                if (xhr.status === 200) {
                                    // Request was successful
                                    console.log('Audio submitted successfully');
                                } else {
                                    // Request failed
                                    console.error('Failed to submit audio');
                                }
                            };

                            xhr.send(formData);



                            var url = (window.URL || window.webkitURL).createObjectURL(blob);
                            

                            // Prepare the playback
                            var audioObject = $("<audio controls></audio>").attr("src", url);

                            // Prepare the download link
                            var downloadObject = $("<a>&#9660;</a>")
                                .attr("href", url)
                                .attr("download", new Date().toUTCString() + ".wav");


                            // Wrap everything in a row
                            var holderObject = $('<div  class="row"></form></div>').append(audioObject).append(downloadObject);

                            // Append to the list
                            listObject.append(holderObject);
                        });
                    }
                }
            }
        };

        // Prepare the recordings list
        var listObject = $('[data-role="recordings"]');

        // Prepare the record button
        $('[data-role="controls"] > button').click(function () {
            // Initialize the recorder
            myRecorder.init();

            // Get the button state
            var buttonState = !!$(this).attr("data-recording");

            // Toggle
            if (!buttonState) {
                $(this).attr("data-recording", "true");
                myRecorder.start();
            } else {
                $(this).attr("data-recording", "");
                myRecorder.stop(listObject);
            }
        });
    });
</script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">EmotiSense</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/f">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Analyze Text and Voice Sentiment</h1>
          <h2>Understand emotions in text and voice recordings instantly.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src='{{url_for("static", filename="/assets/img/hero-img.png")}}' class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Feature Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        <h2>Key Features</h2>
            <div class="feature">
                <div class="icon">
                    <img src="{{url_for('static', filename='/assets/img/analysis.png')}}" alt="Feature Icon 1">
                </div>
                <h3>Accurate Analysis</h3>
                <p>Our sentiment analysis tool provides accurate results to help you understand the sentiment behind texts and voice inputs.</p>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="{{url_for('static', filename='/assets/img/data-analysis.png')}}" alt="Feature Icon 3">
                </div>
                <h3>Real-Time Analysis</h3>
                <p>Get instant sentiment analysis results for both text and voice inputs, allowing you to make informed decisions quickly.</p>
            </div>

        </div>

        </div>

      </div>
    </section><!-- End Feature Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
          <div class="container" data-aos="zoom-in">
    
            <div class="row">
              <div class="col-lg-9 text-center text-lg-start">
                <h3>Call To Action</h3>
                <p> Ready to analyze sentiment? Get started now by entering your text or recording your voice using our sentiment analysis tool. Gain valuable insights and understand the emotions behind the words instantly. Try it out for free and experience the power of sentiment analysis!</p>
              </div>
              <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Call To Action</a>
              </div>
            </div>
    
          </div>
        </section><!-- End Cta Section -->

    <!-- ======= How it works Section ======= -->
    <section class="how-it-works">
      <div class="container">
          <h2>How It Works</h2>
          <div class="steps">
              <div class="step">
                  <div class="step-number">1</div>
                  <h3>Input Text</h3>
                  <p>Enter the text you want to analyze in the provided text area.</p>
              </div>
              <div class="step">
                  <div class="step-number">2</div>
                  <h3>Submit</h3>
                  <p>Click the submit button to start the sentiment analysis process.</p>
              </div>
              <div class="step">
                  <div class="step-number">3</div>
                  <h3>View Results</h3>
                  <p>Get the sentiment analysis results displayed with insightful metrics.</p>
              </div>
          </div>
      </div>
  </section><!-- ======= END How it works Section ======= -->

      <!-- ======= Input Section ======= -->
      <section class="input-section">
        <h2>Text and Voice Sentiment Analyzer</h2>
        <form id="sentiment-form" method="POST" action="/f">
            <textarea name="text1" id="text-input" placeholder="Enter text to analyze..."></textarea>
            <p></p>
            <button type="submit">Analyze Sentiment</button>
        </form>

        <br>

        <form action="/file_voice" method="post" data-role="recordings" enctype="multipart/form-data">

          <label for="voice-input" class="voice-input-label">Upload Voice</label>
          <input type="file" id="voice-input" value="file" accept="audio/*" name="file" capture="microphone"/>
          <br>
          <input class="btn btn-primary" type="submit" value="Transcribe"/>
      </form>

        

    </section><!-- End Input Section -->
   
    <!-- ======= Result Section ======= -->
    <section id="result" class="result">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 style="color: white;">Analysis Result</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <div class="result-container">
              <div class="result">
                <h3>Sentiment:</h3>
                <p class="sentiment">Positive</p>
              </div>
              <div class="result">
                <h3>Confidence Level:</h3>
                <p class="confidence">High</p>
              </div>
            </div>
        </div>

      </div>
    </section><!-- End Result Section -->
    
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2 style="color: white;">About Us</h2>
        </div>
  
        <div class="row content">
          <div class="col-lg-6">
            <p>
              We are a team of passionate individuals dedicated to providing cutting-edge sentiment analysis solutions. Our mission is to empower businesses and individuals with valuable insights into emotions and sentiments, enabling them to make informed decisions and enhance user experiences.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <a href="about.html" class="btn-learn-more">Learn More</a> 
            <!-- Poko -->
          </div>
        </div>
  
      </div>
    </section><!-- End About Us Section -->
    
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3><strong>Why Choose Us?</strong></h3>
              <p>
                Choose us for accurate sentiment analysis results powered by Long short-term memory (LSTM) algorithm, lightning-fast processing ensuring instant insights, and comprehensive multi-language support to cater to diverse global users. We're committed to providing you with the most reliable and efficient sentiment analysis tool
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Accurate Analysis <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Our sentiment analysis tool provides precise results through advanced algorithms.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Fast Processing <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Get instant sentiment analysis results within seconds.
                    </p>
                  </div>
                </li>

                <!-- <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Multi-Language Support <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Supports analysis for multiple languages, catering to global users.
                    </p>
                  </div>
                </li> -->

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../static/assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

   
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Explore our range of services designed to meet your sentiment analysis needs. From accurate sentiment analysis powered by advanced algorithms to lightning-fast processing for instant insights, and comprehensive multi-language support ensuring inclusivity, we provide the tools and expertise to analyze sentiments effectively across various contexts.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Text Sentiment Analysis</a></h4>
              <p>Get accurate sentiment analysis results for text inputs using our advanced algorithms.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Voice Sentiment Analysis</a></h4>
              <p>Analyze sentiment from voice inputs with our intuitive voice recognition technology.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Multi-Language Support</a></h4>
              <p>Support for sentiment analysis in multiple languages to cater to diverse user needs.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Real-Time Analysis</a></h4>
              <p>Receive sentiment analysis results instantly for quick decision-making.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #bbd4ff;">Frequently Asked Questions</h2>
          <p style="color: white;">Have questions about our sentiment analysis tool? Explore our frequently asked questions below to find answers to common queries. If you can't find the information you're looking for, feel free to <a href="#contact">contact us</a> for further assistance. We're here to help!</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How accurate is your sentiment analysis tool? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Our sentiment analysis tool utilizes Long short-term memory (LSTM) algorithms to provide highly accurate results.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Is the sentiment analysis tool free to use?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, our basic sentiment analysis tool is free to use. However, In future we also offer premium features for advanced users.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What languages does your sentiment analysis tool support? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Our tool supports analysis for multiple languages, including but not limited to English, Spanish, French, German, and Chinese.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Can I analyze both text and voice inputs? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, our sentiment analysis tool allows users to analyze both text and voice inputs for sentiment analysis.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How long does it take to get sentiment analysis results? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The processing time for sentiment analysis results varies depending on the length of the input text or voice clip, but generally, results are available within seconds.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Have questions or inquiries? Feel free to reach out to us using the contact form below. We're here to assist you and will get back to you as soon as possible. Alternatively, you can also contact us via email or phone using the provided contact details.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Raipur,Chhattisgarh,India,492099</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>6264134490</p>
              </div>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>EmotiSense</h3>
            <p>
              Raipur<br>
              Chhattisgarh, 492099<br>
              India<br><br>
              <strong>Phone:</strong> 6264134490<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Text Sentiment Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Voice Sentiment Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Real-time analysis</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='/assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='/assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static', filename='/assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='/assets/js/main.js')}}"></script>

</body>

</html>
